{{ if .Site.Params.contact.enable }}
<!-- contact -->
<section class="section section-on-footer" data-background="{{`images/backgrounds/bg-dots.png` | absURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Info</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">Contact Form</h4>
          <form action="{{.Site.Params.contact.form_action}}" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Type Message Here"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
{{ end }}

<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 social">
          <h5><a href="https://t.me/kogecoin"><img height="32" width="32"
                src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/telegram.svg" /> Telegram
            </a>
          </h5>
          <h5><a href="https://discord.gg/xDsnS3TSVA"><img height="32" width="32"
                src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/discord.svg" /> Discord
            </a>
          </h5>
          <h5><a href="https://medium.com/@kogecoin"><img height="32" width="32"
                src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/medium.svg" />
              Medium
            </a>
          </h5>
          <h5><a href="https://twitter.com/kogecoin"><img height="32" width="32"
                src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/twitter.svg" /> Twitter
            </a>
          </h5>
          <h5><a href="https://github.com/kogecoin"><img height="32" width="32"
                src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/github.svg" /> Github
            </a>
          </h5>
          <h5>
            <a href="https://www.reddit.com/r/kogecoin"><img height="32" width="32"
                src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/reddit.svg" /> Reddit
            </a>
          </h5>
        </div>
        <div class="col-md-9">
          <h5><a class="wallet-address"
              href="https://polygonscan.com/address/0x13748d548D95D78a3c83fe3F32604B4796CFfa23/transactions"><img
                src="images/polygon.svg" height="32" width="32" /><strong>KogeCoin (Polygon)</strong>
              0x13748d548D95D78a3c83fe3F32604B4796CFfa23</a></h5>
          <h5><a class="wallet-address"
                href="https://blockscout.moonriver.moonbeam.network/address/0x4f3Aff3A747fCADe12598081e80c6605A8be192F"><img
                  src="images/moonriver.svg" height="32" width="32" /><strong>KogeCoin (MoonRiver)</strong>
                  0x4f3Aff3A747fCADe12598081e80c6605A8be192F</a></h5>
                  <h5><a class="wallet-address"
                    href="https://ftmscan.com/token/0xd4d026322c88c2d49942a75dff920fcfbc5614c1"><img
                      src="images/fantom.svg" height="32" width="32" /><strong>KogeCoin (Fantom)</strong>
                      0xd4d026322c88c2d49942a75dff920fcfbc5614c1</a></h5>
          <h5><a class="wallet-address"
              href="https://polygonscan.com/address/0x85Cf0915C8d3695B03DA739E3eAEfd5388eb5eEF/transactions"><img
                src="images/polygon.svg" height="32" width="32" /><strong>KogeFarm<sub>(USDC + vCurveAave used 4
                  🔥)</sub></strong> 0x85Cf0915C8d3695B03DA739E3eAEfd5388eb5eEF</a></h5>
          <h5><a class="wallet-address"
              href="https://polygonscan.com/address/0x4A170561126a1D765A6B80a081dB639945a8b53b/transactions"><img
                src="images/polygon.svg" height="32" width="32" /><strong>Marketing</strong>
              0x4A170561126a1D765A6B80a081dB639945a8b53b</a></h5>
        </div>
      </div>
    </div>
  </div>

  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">{{ .Site.Params.copyright | markdownify }}</p>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FNTCQQHHWE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FNTCQQHHWE');
</script>
